<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <main id="app">
      <nav>
        <MainMenu />
      </nav>
      <router-view></router-view>
    </main>
    <div id="watermark">fiddler.js v0.1 | <a target="_blank" href="https://github.com/andersevenrud/fiddler.js">Github</a></div>
  </body>
</html>
